/***** RESET *****/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: auto;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root
#__next {
  isolation: isolate;
}

/***** DEMO STYLE *****/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@700&family=Sarabun:wght@500&display=swap');

body {
  background-image: -webkit-linear-gradient(#fff, #eaf0f8);
  background-image: linear-gradient(#fff, #eaf0f8);
}
.site-wrapper {
  background: url(../img/circle-green-gradient.svg) -360px -740px no-repeat,
    url(../img/circle-green-gradient.svg) right -460px bottom -720px no-repeat;
  width: 100%;
  padding-bottom: 50px;
    
    .home & {
      height: 100vh;
      padding-bottom: 0;
  }
}
.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 10vh;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 1em;
  font-weight: 700;

  a {
    color: #2d4156;
    text-decoration: none;

    &:hover, &:focus {
      color: #1d2e38;
      transition: box-shadow 200ms ease 0s;
      box-shadow: 0px 2px 0px #1d2e38;
    }
  }
}
.site-content {

  .home & {
    display: grid;
    place-items: center;
    height: 70vh;
  }
}
.content {
  background-color: #fff;
  margin: 30px auto;
  width: 95%;
  padding: 2em;
  border-radius: 1em;
}

@media only screen and (min-width: 768px) {
  .site-wrapper {
    background-position: -300px -600px, right -260px bottom -660px;
  }
  .content {
    width: 720px;
  }
}